{% if site.author_location %} 
<h6>  <i class="fas fa-map-marker-alt"></i> {{ site.author_location }}</h6>
{% endif %}

{% if site.author_email %}
<h6><i class="fas fa-envelope"></i> <a href="/contact">Use Contact form</a> </h6>
{% endif %}
<!--
{% if site.youtube_channel %}
<h6><i class="fab fa-youtube"></i> <a href="https://www.youtube.com/c/{{ site.youtube_channel }}" target="_blank">YouTube Channel: CoderDave</a> </h6>
{% endif %}
-->
{% if site.author_website_url %}
<h6> <i class="fas fa-link"></i> {{ site.author_website_url }} </h6>
{% endif %}

{% if site.youtube_channel %}
    {%- include youtube_subscribe_button.html -%}
{% endif %}

{% if site.github_username %}
    {%- include github_follow_button.html -%} 
{% endif %}

{% if site.twitter_username %}
    {%- include twitter_follow_button.html -%} 
{% endif %}

{%- include patreon_button.html -%} 

{%- include buymeacoffee_button.html -%} 