body{
    background-color: #111;
}

.btn-default {
    border-color: rgb(0, 123, 255) !important;
}

.btn-github::before {
    content:url('/assets/img/github.png');
}

.btn-nuget::before {
    content:url('/assets/img/nuget.svg');
}