--- 
layout: default 
---

    <div class="row">
        <div class="col-lg-8">
        
            {% if site.author_bio %}
            <div class="card">
                <h1 class="card-title">Welcome</h1>
                <p> {{ site.welcome_message }}</p>
            </div>
            {% endif %}

            {% if site.show_author_talk_details == true %}
            <div class="card">
                <h1 class="card-title">Latest Talk</h1>
                <br />
                {% if site.author_talk_details[0].visibility == true %}
                <div class="row">
                    <div class="col-md-2">
                        <p>{{ site.author_talk_details[0].talk_date}}</p>
                    </div>
                    <div class="col-md-3">
                        <p>{{ site.author_talk_details[0].talk_event}}</p>
                    </div>
                    <div class="col-md-4">
                        <p>{{ site.author_talk_details[0].talk_session}}</p>
                    </div>
                    <div class="col-md-3">
                        {% if site.author_talk_details[0].talk_event_url && site.author_talk_details[0].talk_event_url != "" && site.author_talk_details[0].talk_event_url != nil %}
                        <a href="{{site.author_talk_details[0].talk_event_url}}" target="_blank"><img src="/assets/img/talks/website.png" alt="Event Website" class="talkicon"/></a>
                        {% endif %}
                        {% if site.author_talk_details[0].talk_session_url && site.author_talk_details[0].talk_session_url != "" && site.author_talk_details[0].talk_session_url != nil %}
                        <a href="{{site.author_talk_details[0].talk_session_url}}" target="_blank"><img src="/assets/img/talks/session.png" alt="Session Details Page" class="talkicon"/></a>
                        {% endif %}
                        {% if site.author_talk_details[0].talk_slides_url && site.author_talk_details[0].talk_slides_url != "" && site.author_talk_details[0].talk_slides_url != nil %}
                        <a href="{{site.author_talk_details[0].talk_slides_url}}" target="_blank"><img src="/assets/img/talks/powerpoint.png" alt="Slides" class="talkicon"/></a>
                        {% endif %}
                        {% if site.author_talk_details[0].talk_code_url && site.author_talk_details[0].talk_code_url != "" && site.author_talk_details[0].talk_code_url != nil %}
                        <a href="{{site.author_talk_details[0].talk_code_url}}" target="_blank"><img src="/assets/img/talks/source-code.png" alt="Source Code" class="talkicon"/></a>
                        {% endif %}
                        {% if site.author_talk_details[0].talk_github_url && site.author_talk_details[0].talk_github_url != "" && site.author_talk_details[0].talk_github_url != nil %}
                        <a href="{{site.author_talk_details[0].talk_github_url}}" target="_blank"><img src="/assets/img/talks/github.png" alt="GitHub" class="talkicon"/></a>
                        {% endif %}
                        {% if site.author_talk_details[0].talk_photos_url && site.author_talk_details[0].talk_photos_url != "" && site.author_talk_details[0].talk_photos_url != nil %}
                        <a href="{{site.author_talk_details[0].talk_photos_url}}" target="_blank"><img src="/assets/img/talks/gallery.png" alt="Photos" class="talkicon"/></a>
                        {% endif %}
                        {% if site.author_talk_details[0].talk_video_url && site.author_talk_details[0].talk_video_url != "" && site.author_talk_details[0].talk_video_url != nil %}
                        <a href="{{site.author_talk_details[0].talk_video_url}}" target="_blank"><img src="/assets/img/talks/video.png" alt="Video" class="talkicon"/></a>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <br/>
                <a href="/talks">See other Talks...</a>
            </div>
            {% endif %}

            {% if site.show_author_project_details == true %}
            <div class="card">
                <h1 class="card-title">Latest Project</h1>
                <br />
                {% if site.author_project_details[0].visibility == true %}
                <div class="row">
                        <div class="col-md-2">
                            <img src="/assets/img/projects/{{site.author_project_details[0].project_thumbnail}}" class="company-logo" />
                        </div>
                        <div class="col-md-6">
                            <h4 class="experience-title"> {{ site.author_project_details[0].project_title }}</h4>
                            <h6 class="experience-info"> {{ site.author_project_details[0].project_info}}</h6>
                            <p class="experience-desc"> {{ site.author_project_details[0].project_description }} </p>
                            <p><a href="{{site.author_project_details[0].project_url}}">{{ site.author_project_details[0].project_url}}</a></p> 
                        </div>
                    </div>
                    {% endif %}
                    <br/>
                    <a href="/projects">See other Projects...</a>
            </div>
            {% endif %}

            {% if site.show_author_work_experiences == true %}
            <div class="card">
                <h1 class="card-title"> Current Job</h1>
                <br />
                
                {% if site.author_work_experiences[0].visibility == true %}
                <div class="row">
                        <div class="col-md-2">
                            <img src="/assets/img/{{ site.author_work_experiences[0].company_logo }}" class="company-logo" />
                        </div>
                        <div class="col-md-6">
                            <h4 class="experience-title"> {{ site.author_work_experiences[0].designation }}</h4>
                            <h6 class="experience-info"> {{ site.author_work_experiences[0].company_name}}</h6>
                            <p class="experience-desc"> {{ site.author_work_experiences[0].description }} </p>
                            <p><a href="{{site.author_work_experiences[0].company_url}}">{{ site.author_work_experiences[0].company_url}}</a></p> 
                        </div>
                    </div>
                    {% endif %}
                    <br/>
                    <a href="/about">See other Jobs...</a>
            </div>
            {% endif %}


            {% if site.show_author_education_details == true %}
            <div class="card">
                <h1 class="card-title"> Education </h1>
                <br />
                {% for detail in site.author_education_details %}
                {% if detail.visibility == true %}
                <div class="row">
                        <div class="col-md-2">
                            <img src="/assets/img/{{ detail.college_logo}}" class="company-logo" />
                        </div>
                        <div class="col-md-6">
                            <h4 class="experience-title"> {{detail.college_degree }}</h4>
                            <h6 class="experience-info">{{detail.college_name}}</h6>
                            <p class="experience-desc"> {{detail.description}} </p>
                            <p><a href="{{detail.college_url}}">{{ detail.college_url}}</a></p>                    
                        </div>
                    </div>
                    {% endif %}
                    
                    {% endfor %}  
            </div>
            {% endif %}

        </div>
        <div class="col-lg-4">
    
            <div class="card">
                {%- include author_info.html -%}
            </div>
    
            <div class="card">
                <h1> Skills </h1>

                {%- include author_skills.html -%}
               
            </div>
    
            <div class="card badge-container">
                <h1> Badges </h1>

                {%- include author_badges.html -%}
               
            </div>
    
            {% if site.wakatime_username %}
            <div class="card">
                <h1> Coding Activity </h1>
                
                {%- include coding_activity.html -%}
    
            </div>
            {% endif %}
    
        </div>
        </div>