--- 
layout: default 
---

    <div class="row">
        <div class="col-lg-8">
        
            {% if site.show_author_project_details == true %}
            <div class="card">
                <h1 class="card-title">Projects</h1>
                <br />
                {% for project in site.author_project_details %}
                {% if project.visibility == true %}
                <div class="row">
                        <div class="col-md-2">
                            <img src="/assets/img/projects/{{project.project_thumbnail}}" class="company-logo" />
                        </div>
                        <div class="col-md-10">
                            <h4 class="experience-title"> {{ project.project_title }}</h4>
                            <h6 class="experience-info"> {{ project.project_info}}</h6>
                            <p class="experience-desc"> {{ project.project_description }} </p>
                            <p><a class="btn btn-default" href="{{project.project_url}}" target="_blank" ><img src="/assets/img/github-logo-small.png"> View on GitHub</a> 
                            {% if project.project_nuget && project.project_nuget != "" && project.project_nuget != nil %}
                            &nbsp;&nbsp;<a class="btn btn-default" href="{{project.project_nuget}}" target="_blank"><img src="/assets/img/nuget-logo-small.png"> Get NuGet Package</a> 
                            {% endif %}
                            </p>
                        </div>
                    </div>
                    {% endif %}
                    <hr />
                    {% endfor %}  
            </div>
            {% endif %}

            
        </div>
        <div class="col-lg-4">
    
            <div class="card">
                {%- include author_info.html -%}
            </div>
    
            <div class="card">
                <h1> Skills </h1>

                {%- include author_skills.html -%}
               
            </div>
    
            {% if site.wakatime_username %}
            <div class="card">
                <h1> Coding Activity </h1>
                
                {%- include coding_activity.html -%}
    
            </div>
            {% endif %}
    
        </div>
        </div>