--- 
layout: default 
---

    <div class="row">
        <div class="col-lg-8">
        
            {% if site.show_author_project_details == true %}
            <div class="card">
                <h1 class="card-title">Projects</h1>
                <br />
                {% for project in site.author_project_details %}
                {% if project.visibility == true %}
                <div class="row">
                        <div class="col-md-2">
                            <img src="/assets/img/projects/{{project.project_thumbnail}}" class="company-logo" />
                        </div>
                        <div class="col-md-10">
                            <h4 class="experience-title"> {{ project.project_title }} <a class="github-button" href="https://github.com/n3wt0n/{{project.project_title}}" data-size="large" data-show-count="true" aria-label="Star n3wt0n/{{project.project_title}} on GitHub">Star</a></h4>
                            <h6 class="experience-info"> {{ project.project_info}}</h6>
                            <p class="experience-desc"> {{ project.project_description }} </p>
                            <p><a href="{{project.project_url}}" target="_blank">{{ project.project_url}}</a></p> 
                            {% if project.project_nuget && project.project_nuget != "" && project.project_nuget != nil %}
                            <p><a href="{{project.project_nuget}}" target="_blank">NuGet Package</a></p> 
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <hr />
                    {% endfor %}  
            </div>
            {% endif %}

            
        </div>
        <div class="col-lg-4">
    
            <div class="card">
                {%- include author_info.html -%}
            </div>
    
            <div class="card">
                <h1> Skills </h1>

                {%- include author_skills.html -%}
               
            </div>
    
            {% if site.wakatime_username %}
            <div class="card">
                <h1> Coding Activity </h1>
                
                {%- include coding_activity.html -%}
    
            </div>
            {% endif %}
    
        </div>
        </div>